<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">
    <nav th:replace="fragments.html :: main-nav"></nav>

    <div class="py-5 text-center" th:if="${error}">
        <p class="lead">email check</p>
        <div class="alert alert-danger" role="alert">
            failed
        </div>

    </div>

    <div class="py-5 text-center" th:if="${error == null}">
        <p class="lead">이메일 인증</p>
        <h2>
            성공! <span th:text="${numberOfUser}">userCount</span>번째 회원,
            <span th:text="${username}">user</span>님 가입을 축하합니다!
        </h2>
        <small class="text-info">이제부터 가입할 때 입력한 이메일, 또는 닉네임과 패스워드로 로그인 할 수 있습니다.</small>
    </div>

    <div th:replace="fragments.html :: footer"></div>

</body>
</html>